@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700|Bitter:700,italic|);

body {
    font-family: Raleway, Arial, sans-serif;
    background-color: #f0f0f0;
    color: #191443; /* Dark blue color for body text */
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App-header {
    background-color: white; /* White background for the header */
    padding: 10px;
    text-align: center; /* Ensures the flexbox container is centered */
}

.header-container {
    display: flex;
    align-items: center; /* Vertically aligns logo and title */
    justify-content: center; /* Horizontally centers the whole block */
}

.App-logo {
    max-height: 60px; /* Adjust the height as needed */
    margin-right: 15px; /* Space between the logo and the title */
}

h1 {
    font-family: Bitter, 'Open Sans', Arial, sans-serif; /* Combined font stacks */
    color: #312783; /* Heading color matching the club's branding */
    font-size: 24px;
    text-align: left; /* Aligns the title text to the left */
    margin: 0;
}

section {
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button, a.btn {
    background-color: #FF8000; /* Club's bright orange for buttons */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;
}

button:hover, a.btn:hover {
    background-color: #E67300; /* Darker orange on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f7f7f7;
    margin-top: 20px;
    font-size: 0.9em;
    color: #191443; /* Footer text color to match overall color scheme */
}

a {
    color: #004b8d;
    text-decoration: none;
}

a:hover {
    color: #FF8000; /* Link hover color to match buttons */
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    .header-container {
        flex-direction: column; /* Stack logo and title vertically on small screens */
        text-align: center;
    }

    .App-logo {
        margin-right: 0;
        margin-bottom: 10px; /* Adds space between logo and title when stacked */
    }

    h1 {
        text-align: center; /* Center-align the title on smaller screens */
    }
}
